<h1>HR Portal</h1>

<%= link_to "All Employees", employees_path%>

<!--
<%= link_to "About Us C.", controller: :pages, action: :about_us %>
<br>
<%= link_to 'About Us N.', '/about'%>
<br>
<%= link_to nil, about_path %>
-->

<%# path ko as name de dega %>
